@page "{restaurantId:int}"

@model OdeToFood.Pages.Restaurants.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h2>@Model.restaurant.Name</h2>
<div>
    Id: @Model.restaurant.Id
</div>
<div>
    Location: @Model.restaurant.Location
</div>
<div>
    Cuisine: @Model.restaurant.Cuizine
</div>

<a asp-page="./List" class="btn btn-default">All Restaurants</a>
